body{
    background: rgb(12, 15, 16);
}
p{color: aliceblue;}
h1{color: aliceblue;}
h4{color: aliceblue;}
nav{color: aliceblue;}
thead{color: aliceblue;}
tbody{color: aliceblue;}
main{color: aliceblue;}
table{color: aliceblue;}
img{color: aliceblue;}